.profileModifyArticle {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin: 0 auto 0;
}

.profileModifyTitle {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20%;
}

.profileSelectBox {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
    margin: auto;
    margin-bottom: 20%;
    padding: 0;
}

.profileSelect {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inputImg {
    display: none;
}

.modifyLabels {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.showEmail {
    font-size: 14px;
}

.getNickname {
    height: 30px;
    margin-top: 10px;
}

.modifyBtn {
    width: 100%;
    border: none;
    color: white;
    background-color: #aca0eb;
    font-size: 14px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
}

.deleteProfile {
    font-size: 14px;
    text-align: center;
    margin: 10px;
}

.completeModifyBtn {
    color: white;
    background-color: #aca0eb;
    width: 25%;
    border: none;
    margin: 10% auto 0;
    font-size: 18px;
    height: 50px;
    border-radius: 20px;
}
