body {
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  padding: 30px 0;
}

.contentTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  height: 10%;
}

.contentTitle .loginBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  background-image: url(images/KTB\ 줌\ 배경화면_yellow.png);
}

.contentTitle .title {
  font-size: 32px;
  color: #000;
}

.horizontal-rule {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #000;
  margin: 30px auto 50px;
}

.loginArticle {
  width: 400px;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  margin: 0 auto;
}

.loginArticle .loginTxt {
  font-size: 32px;
  margin-top: 10%;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.loginArticle .inputLabel {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.loginArticle .inputField {
  margin-top: 5px;
  font-size: 15px;
  border-radius: 5px;
  height: 30px;
}

input::placeholder {
  font-size: 14px;
  color: #000;
  padding: 10px;
}

.loginArticle .signupSubmitBtn {
  background-color: #aca0eb;
  color: #fff;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.loginArticle .loginLink {
  font-size: 14px;
  color: #000;
  text-align: center;
  text-decoration-line: none;
}

.loginArticle .inputImg {
  display: none;
}

.loginArticle .inputPhoto {
  margin: auto;
}
