.createPostTitleBox {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
}

.createPostTitleBox .createPostTitle {
    font-size: 24px;
    color: black;
}

.createPost {
    width: 60%;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    margin: 0 auto;
}

.postTitle {
    height: 30px;
    padding: 10px;
    border-color: #00000029;
    border-left: none;
    border-right: none;
    resize: none;
    background-color: transparent;
}

.postContent {
    padding: 10px;
    border-color: #00000029;
    border-left: none;
    border-right: none;
    resize: none;
    background-color: transparent;
}

.inputLabel {
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
}

.postTitle::placeholder {
    font-size: 16px;
    margin: 10px;
    color: black;
    font-weight: bold;
}

.postContent::placeholder {
    font-size: 15px;
    color: black;
}

.submitPost {
    background-color: #7f6aee;
    color: #fff;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
}
