.passwdModifyArticle {
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0;
}

.passwdModifyTitle {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}
.passwdModifyLabel {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
}

.getPasswd {
    width: 100%;
    height: 30px;
    margin-top: 5px;
}

.getPasswd::placeholder {
    font-size: 14px;
    color: black;
    padding: 5px;
}

.modifyBtn {
    width: 100%;
    border: none;
    color: white;
    background-color: #aca0eb;
    margin: 10px auto 5px;
    font-size: 14px;
    height: 40px;
    border-radius: 5px;
}
