.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    margin: 30px auto 50px;
}

.postBanner {
    justify-content: center;
}

.postBanner .postBannerTxt {
    font-size: 24px;
    color: #000;
    text-align: center;
}

.postArticle {
    width: 600px;
    margin: 0 auto;
}

.createPostDiv {
    width: 100%;
    height: 40px;
}

.postArticle .createPostBtn {
    background-color: #aca0eb;
    border: none;
    border-radius: 16px;
    float: right;
    width: 138px;
    height: 39px;
    font-size: 16px;
    color: #fff;
}

/* 게시글이 작성되는 곳 */
.postContentArea {
    background-color: transparent;
}

.postContentArea .postContentDiv {
    border-radius: 16px;
    box-shadow: 3px 4px 4px 0px #cccccc40;
}

.postContentDiv .postTitle {
    font-size: 30px;
    margin-left: 10px;
}

.postContentDiv .listAndTime {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.postContentDiv .listAndTime .socialList {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-left: 10px;
    padding: 0px;
}

.socialList .socialListTxt {
    margin-right: 5px;
}

.postContentDiv .listAndTime .time {
    margin-left: auto;
    margin-right: 10px;
}

.postContent .postHorizontal-rule {
    background-color: #cccccc;
}

.postContentDiv .editor {
    display: flex;
    align-items: center;
    padding: 15px;
}

.postContentDiv .profileImgBox {
    width: 30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
}

.postContentDiv .profileImgBox .profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postContentDiv .editorNickname {
    margin: 10px;
    font-size: 20px;
}
