<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/css/postInfo.css"
        />
        <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
        <title>게시물 조회</title>
    </head>
    <body>
        <section class="wrap">
            <header role="banner" class="banner">
                <button
                    class="loginBtn"
                    onclick="location.href='login.html'"
                ></button>
                <h1 class="title">아무 말 대잔치</h1>
                <div class="usrProfileBox" id="usrProfileBox">
                    <img
                        class="usrProfile"
                        id="userProfile"
                        src="/public/images/profile_img.webp"
                    />
                    <div class="dropdown" id="dropdown">
                        <a href="http://localhost:3000/account/modify_user_info"
                            >회원정보수정</a
                        >
                        <a href="http://localhost:3000/account/modify_passwd"
                            >비밀번호수정</a
                        >
                        <a href="http://localhost:3000/account/logout"
                            >로그아웃</a
                        >
                    </div>
                </div>
            </header>
            <hr class="horizontal-rule" />
            <article class="postInfoArticle">
                <h1 class="postTitle" id="postTitle">제목 1</h1>
                <div class="creatorInfo">
                    <div class="editor">
                        <div class="profileImgBox">
                            <img
                                class="profileImg"
                                src="/public/images/profile_img.webp"
                            />
                        </div>
                        <p class="editorNickname">작성자 1</p>
                    </div>
                    <p class="time">2021-01-01 00:00:00</p>
                    <div class="modifyAndDeleteBtnBox">
                        <button class="modifyAndDeleteBtn" id="modifiy">
                            수정
                        </button>
                        <button class="modifyAndDeleteBtn" id="delete">
                            삭제
                        </button>
                    </div>
                </div>
                <hr class="postInfoHr" />
                <div class="postPhotoBox">
                    <img
                        class="postPhoto"
                        src="/public/images/포켓몬_잠만보.png"
                    />
                </div>
                <p class="postContent" id="postConent">
                    친구는 세월의 도둑이다. 봄부터 흐르는 물은 겨울이 되어도
                    얼지 않듯이 마음에서 우러나오는 우적은 역경이 닥친다고 해서
                    식지 않는다. 불행했을 때 만난 친구는 가장 소중히 여겨야
                    한다. 행복했을 때 함께 기쁨을 누리는 친구보다 힘들 떄 슬픔을
                    덜어지는 친구를 더 많이 신뢰할 수 있다. 부유했을 때는 친구를
                    사귀기 쉽지만, 어려울 때는 눈을 씻고 찾아봐도 친구를 찾기
                    어렵다. 누군가 진정한 우정을 나누고 있다 할지라도 그 우정을
                    지키려면 오랜 시간이 걸린다. 짧은 시간 안에 많은 친구를
                    얻기란 불가능하다. 왜냐하면 그들은 진정한 친구가 아니기
                    때문이다.
                </p>
                <div class="communicationBtnBox" id="communicationBtnBox">
                    <button class="communicationBtn" id="likeBtn">
                        <p class="btnNumber" id="likeNumber">123</p>
                        <p class="btnText">좋아요수</p>
                    </button>
                    <button class="communicationBtn" id="viewBtn">
                        <p class="btnNumber" id="likeNumber">123</p>
                        <p class="btnText">조회수</p>
                    </button>
                    <button class="communicationBtn" id="commentBtn">
                        <p class="btnNumber" id="likeNumber">123</p>
                        <p class="btnText">댓글</p>
                    </button>
                </div>
                <hr class="postInfoHr" />
                <div class="commentBox">
                    <textarea
                        class="comment"
                        placeholder="댓글을 남겨주세요!"
                        rows="4"
                    ></textarea>
                    <hr class="postInfoHr" />
                    <button class="addCommentBtn" type="button">
                        댓글 등록
                    </button>
                </div>
                <div class="commentViewBox">
                    <div class="commentViewEditorBox">
                        <div class="profileImgBox">
                            <img
                                class="profileImg"
                                src="/public/images/profile_img.webp"
                            />
                        </div>
                        <p class="editorNickname">작성자 1</p>
                        <p class="time">2024-01-01 00:00:00</p>
                        <div class="modifyAndDeleteBtnBox">
                            <button class="modifyAndDeleteBtn" id="modifiy">
                                수정
                            </button>
                            <button class="modifyAndDeleteBtn" id="delete">
                                삭제
                            </button>
                        </div>
                    </div>
                    <p class="commentContent">댓글 내용</p>
                </div>
            </article>
        </section>
    </body>
</html>
