<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/public/css/Posts.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
        <title>Posts</title>
    </head>
    <body>
        <section class="wrap">
            <header role="banner" class="banner">
                <h1 class="title">아무 말 대잔치</h1>
                <div class="usrProfileBox" id="usrProfileBox">
                    <img
                        class="usrProfile"
                        id="userProfile"
                        src="/public/images/profile_img.webp"
                    />
                    <div class="dropdown" id="dropdown">
                        <a id="modifyUserInfoLink">회원정보수정</a>
                        <a id="modifyPasswdLink">비밀번호수정</a>
                        <a id="logoutLink">로그아웃</a>
                    </div>
                </div>
            </header>
            <hr class="horizontal-rule" />
            <article class="postBanner">
                <p class="postBannerTxt">
                    안녕하세요,<br />아무 말 대잔치
                    <strong>게시판</strong> 입니다.
                </p>
            </article>
            <article class="postArticle">
                <div class="createPostDiv">
                    <button class="createPostBtn" id="createPostBtn">
                        게시글 작성
                    </button>
                </div>
                <article class="postContentArea" id="postContentArea"></article>
            </article>
        </section>
        <script src="/public/js/post.js"></script>
    </body>
</html>
