<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/css/postInfo.css"
        />
        <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
        <title>게시물 조회</title>
    </head>
    <body>
        <section class="wrap">
            <!--모달-->
            <div class="modal" id="postModal"></div>
            <div class="modalBox" id="postModalBox">
                <p class="modalTitle">게시글을 삭제하시겠습니까?</p>
                <p class="modalContent">삭제한 내용은 복구 할 수 없습니다.</p>
                <div class="modalBtnBox">
                    <button class="modalCancelBtn" id="postModalCancel">
                        취소
                    </button>
                    <button class="modalOkBtn" id="postModalOk">확인</button>
                </div>
            </div>
            <!--댓글 모달-->
            <div class="modal" id="commentModal"></div>
            <div class="modalBox" id="commentModalBox">
                <p class="modalTitle">댓글을 삭제하시겠습니까?</p>
                <p class="modalContent">삭제한 내용은 복구 할 수 없습니다.</p>
                <div class="modalBtnBox">
                    <button class="modalCancelBtn" id="commentModalCancel">
                        취소
                    </button>
                    <button class="modalOkBtn" id="commentModalOk">확인</button>
                </div>
            </div>
            <header role="banner" class="banner">
                <div class="goToLoginBox">
                    <a id="goBackLink">
                        <img
                            class="goToLoginImg"
                            src="/public/images/back_arrow.png"
                        />
                    </a>
                </div>
                <h1 class="title">아무 말 대잔치</h1>
                <div class="usrProfileBox" id="usrProfileBox">
                    <img
                        class="usrProfile"
                        id="userProfile"
                        src="/public/images/profile_img.webp"
                    />
                    <div class="dropdown" id="dropdown">
                        <a id="modifyUserInfoLink">회원정보수정</a>
                        <a id="modifyPasswdLink">비밀번호수정</a>
                        <a id="logoutLink">로그아웃</a>
                    </div>
                </div>
            </header>
            <hr class="horizontal-rule" />
            <article class="postInfoArticle" id="postInfoArticle">
                <h1 class="postTitle" id="postTitle"></h1>
                <div class="creatorInfo">
                    <div class="editor">
                        <div class="profileImgBox">
                            <img class="profileImg" id="profileImg" />
                        </div>
                        <p class="editorNickname" id="editorNickname"></p>
                    </div>
                    <p class="time" id="timestamp"></p>
                    <div
                        class="modifyAndDeleteBtnBox"
                        id="modifyAndDeleteBtnBox"
                    >
                        <button class="modifyAndDeleteBtn" id="postModify">
                            수정
                        </button>
                        <button class="modifyAndDeleteBtn" id="postDelete">
                            삭제
                        </button>
                    </div>
                </div>
                <hr class="postInfoHr" />
                <div class="postPhotoBox">
                    <img class="postPhoto" id="postPhoto" />
                </div>
                <p class="postContent" id="postContent"></p>
                <div class="communicationBtnBox" id="communicationBtnBox">
                    <button class="communicationBtn" id="likeBtn">
                        <p class="btnNumber" id="likeCount"></p>
                        <p class="btnText">좋아요수</p>
                    </button>
                    <button class="communicationBtn" id="viewBtn">
                        <p class="btnNumber" id="viewCount"></p>
                        <p class="btnText">조회수</p>
                    </button>
                    <button class="communicationBtn" id="commentBtn">
                        <p class="btnNumber" id="commentCount"></p>
                        <p class="btnText">댓글</p>
                    </button>
                </div>
                <hr class="postInfoHr" />
                <div class="commentBox">
                    <textarea
                        class="comment"
                        id="commentArea"
                        placeholder="댓글을 남겨주세요!"
                        rows="4"
                    ></textarea>
                    <hr class="postInfoHr" />
                    <button
                        class="addCommentBtn"
                        id="addCommentBtn"
                        type="button"
                    >
                        댓글 등록
                    </button>
                    <button
                        class="addCommentBtn hide"
                        id="modifyCommentBtn"
                        type="button"
                    >
                        댓글 수정
                    </button>
                </div>
            </article>
        </section>
        <script type="module" src="/public/js/postInfo.js"></script>
    </body>
</html>
