<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            type="text/css"
            href="/public/css/profileModify.css"
        />
        <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
        />
        <title>ProfileModify</title>
    </head>
    <body>
        <section class="wrap">
            <div class="modal" id="deleteProfileModal"></div>
            <div class="modalBox" id="deleteProfileModalBox">
                <p class="modalTitle">회원탈퇴 하시겠습니까?</p>
                <p class="modalContent">작성된 게시글과 댓글은 삭제됩니다.</p>
                <div class="modalBtnBox">
                    <button class="modalCancelBtn" id="deleteProfileCancelBtn">
                        취소
                    </button>
                    <button class="modalOkBtn" id="deleteProfileOkBtn">
                        확인
                    </button>
                </div>
            </div>
            <header role="banner" class="banner">
                <h1 class="title">아무 말 대잔치</h1>
                <div class="usrProfileBox" id="usrProfileBox">
                    <img
                        class="usrProfile"
                        id="userProfile"
                        src="/public/images/profile_img.webp"
                    />
                    <div class="dropdown" id="dropdown">
                        <a href="http://localhost:3000/account/modify_user_info"
                            >회원정보수정</a
                        >
                        <a href="http://localhost:3000/account/modify_passwd"
                            >비밀번호수정</a
                        >
                        <a href="http://localhost:3000/account/logout"
                            >로그아웃</a
                        >
                    </div>
                </div>
            </header>
            <hr class="horizontal-rule" />
            <article class="profileModifyArticle">
                <h1 class="profileModifyTitle">회원정보수정</h1>
                <label for="modifyProfilePhoto" class="modifyLabels"
                    >프로필 사진*</label
                >
                <label for="modifyProfilePhoto" class="inputPhoto">
                    <div class="profileSelectBox">
                        <div class="profileChangeFilter"></div>
                        <img
                            class="profileSelect"
                            id="profileImg"
                            src="/public/images/profile_img.webp"
                        />
                        <p class="profileImgChangeBtn">변경</p>
                    </div>
                    <input
                        type="file"
                        id="modifyProfilePhoto"
                        class="inputImg"
                        accept="image/*"
                    />
                </label>
                <label class="modifyLabels" for="showEmail">이메일</label>
                <p class="showEmail">eample@example.com</p>
                <label class="modifyLabels" for="getNickname">닉네임</label>
                <input
                    type="text"
                    class="getNickname"
                    id="inputNickname"
                    placeholder="현재닉네임"
                />
                <div id="noInputNickname" class="helperText">
                    *닉네임을 입력해주세요.
                </div>
                <div id="includeSpaceNickname" class="helperText hide">
                    *띄어쓰기를 없애주세요
                </div>
                <div id="dupNickname" class="helperText hide">
                    *중복된 닉네임 입니다.
                </div>
                <div id="tooLongNickname" class="helperText hide">
                    *닉네임은 최대 10자까지 작성 가능합니다.
                </div>
                <button class="modifyBtn" id="modifyBtn" type="button">
                    수정하기
                </button>
                <a class="deleteProfile" id="deleteProfile">회원 탈퇴</a>
            </article>

            <div id="toast" class="toast">
                <p>수정완료</p>
            </div>
        </section>
        <script type="module" src="/public/js/profileModify.js"></script>
    </body>
</html>
