<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/public/css/signUp.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/common.css" />
        <title>Sign Up</title>
    </head>
    <body>
        <section class="wrap">
            <header role="banner" class="banner">
                <div class="goToLoginBox">
                    <a href="http://localhost:4444/">
                        <img
                            class="goToLoginImg"
                            src="/public/images/back_arrow.png"
                        />
                    </a>
                </div>
                <h1 class="title">아무 말 대잔치</h1>
            </header>
            <hr class="horizontal-rule" />
            <!-- 회원가입 내용 입력 -->
            <form
                class="signupForm"
                id="signupForm"
                method="post"
                enctype="multipart/form-data"
            >
                <article class="loginArticle" id="loginArticle">
                    <h2 class="loginTxt">회원가입</h2>
                    <label for="profilePhoto" class="inputLabel"
                        >프로필 사진</label
                    >
                    <div id="profileHelperText" class="helperText">
                        *프로필 사진을 추가해주세요.
                    </div>
                    <label for="profilePhoto" class="inputPhoto">
                        <div class="profileSelectBox">
                            <img
                                class="profileSelect"
                                id="profileImg"
                                src="/public/images/profile_img.webp"
                            />
                        </div>
                    </label>
                    <input
                        type="file"
                        id="profilePhoto"
                        class="inputImg"
                        name="profilePhoto"
                        accept="image/*"
                    />

                    <label for="inputEmail" class="inputLabel">이메일*</label>
                    <input
                        type="email"
                        id="inputEmail"
                        class="inputField"
                        name="email"
                        placeholder="이메일을 입력하세요"
                        required
                    />

                    <div id="noInputEmail" class="helperText">
                        *이메일을 입력해주세요.
                    </div>
                    <div id="invalidEmail" class="helperText hide">
                        *올바른 이메일 주소 형식을 입력해주세요.<br />
                        (예: example@example.com)
                    </div>
                    <div id="dupEmail" class="helperText hide">
                        *중복된 이메일 입니다.
                    </div>
                    <label for="inputPasswd" class="inputLabel"
                        >비밀번호*</label
                    >
                    <input
                        type="password"
                        id="inputPasswd"
                        class="inputField"
                        placeholder="비밀번호를 입력하세요"
                        name="passwd"
                        required
                    />
                    <div id="noInputPasswd" class="helperText">
                        *비밀번호를 입력해주세요
                    </div>
                    <div id="diffPasswd" class="helperText hide">
                        *비밀번호가 다릅니다.
                    </div>
                    <label for="recheckPasswd" class="inputLabel"
                        >비밀번호 확인*</label
                    >
                    <input
                        type="password"
                        id="recheckPasswd"
                        class="inputField"
                        placeholder="비밀번호를 한번 더 입력하세요"
                        required
                    />
                    <div id="noInputRecheckPasswd" class="helperText">
                        *비밀번호를 한번 더 입력해주세요
                    </div>
                    <div id="diffRecheckPasswd" class="helperText hide">
                        *비밀번호가 다릅니다.
                    </div>
                    <label for="inputNickname" class="inputLabel"
                        >닉네임*</label
                    >
                    <input
                        type="text"
                        id="inputNickname"
                        class="inputField"
                        placeholder="닉네임을 입력하세요"
                        name="nickname"
                        maxlength="15"
                        required
                    />
                    <div id="noInputNickname" class="helperText">
                        *닉네임을 입력해주세요.
                    </div>
                    <div id="includeSpaceNickname" class="helperText hide">
                        *띄어쓰기를 없애주세요
                    </div>
                    <div id="dupNickname" class="helperText hide">
                        *중복된 닉네임 입니다.
                    </div>
                    <div id="tooLongNickname" class="helperText hide">
                        *닉네임은 최대 10자까지 작성 가능합니다.
                    </div>
                    <button
                        class="signupSubmitBtn"
                        id="signupBtn"
                        type="submit"
                        disabled
                    >
                        회원가입
                    </button>
                    <a class="loginLink" href="http://localhost:4444/auth/login"
                        >로그인하러 가기</a
                    >
                </article>
            </form>
        </section>
        <script type="module" src="/public/js/signUp.js"></script>
    </body>
</html>
